<strong>Recuperando Senha<strong>

  <p>
    Uma solicitacao de recuperacao de senha foi realizada para o email {{ email }}
    <br/>

    Para recuperar sua senha utilize o token {{ token }}

  Ou <a href="{{link}}">Clique Aqui</a>
  </p>
